


.banner{
    background-image: linear-gradient(to bottom, rgba(13, 15, 26, 0.389), rgba(0, 0, 0, 0.73)), url('../images/donation5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffff;
}
.banner h1{
    font-size: 59px;
}
.banner p{
color: beige;
}

body p{
    color: grey;
    font-size: 16px;
}
.top{
    margin-top: 200px;
    margin-bottom: 200px;
}


/* section number two  */

.taka{
    border: 1px solid orangered;
    border-color: rgba(255, 68, 0, 0.233);

    border-radius: 8px;
    
    text-align: center;
    height: 100px;
    width: 150px;
    margin-left: 50px;

    

}
.taka h5{
    margin-top: 36px;
    color: orangered;
}

.taka:hover{
    background-color: rgba(255, 68, 0, 0.501);
}

.ammount hr{
    width: 90%;
    margin-left: 50px;
}
.sec3{
    margin-top: 100px;
}
.food img{
    width: 20%;
    height: 30%;
    padding: 15px;
}

.food1{
    background-color: rgba(221, 160, 221, 0.526);
    border-color: beige;
}
.food2{
    background-color: rgba(127, 255, 212, 0.496);
    border-color: beige;
}

.food3{
    background-color: rgba(128, 255, 0, 0.337);
    border-color: beige;
}

.main-btn{
    margin-top: 10px;
    width: 50%;
}
.sec3 h2{
    font-size: 50px;

    color: black;
}
.rounded-4 img{
    border-radius: 5px;
}
.input input{
    background-color: rgba(128, 128, 128, 0.477);
    color: #ffff;
    border: 0;
    border-radius: 6px;


}
.input{
    background-color: bisque;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;

}

.last-btn{
    height: 28px;
    font-size: small;
    
}

@media screen and (max-width:576px) {
    .taka{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .ammount hr{
        margin-right: 40px;
    }
}

